@model AddCompaniesFormModel

@{
    ViewData["Title"] = "Добавяне на фирма";
}

@*<h2>Добавяне на Фирма</h2>*@

<div class="container">
    <div class="row">
        @*<div class="offset-md-2 col-md-8 col-sm-12">*@
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
         <h2 class="heading-margin text-center">Добавяне на Фирма</h2>
            <form method="post">
  <div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control"  placeholder="Томпет ООД, Tompet OOD...">
    <span asp-validation-for="Name" class="small text-danger"></span>
  </div>
   <div class="form-group">
    <label asp-for="Manager"></label>
    <input asp-for="Manager" class="form-control"  placeholder="Драгомир Сборчиков...">
     <span asp-validation-for="Manager" class="small text-danger"></span>
  </div>
   <div class="form-group">
    <label asp-for="Phone"></label>
    <input asp-for="Phone" class="form-control"  placeholder="+35988000000...">
     <span asp-validation-for="Phone" class="small text-danger"></span>
  </div>
   <div class="form-group">
    <label asp-for="Address"></label>
    <input asp-for="Address" class="form-control"  placeholder="Велико Търново...">
     <span asp-validation-for="Address" class="small text-danger"></span>
  </div>

  <input class="btn btn-primary" type="submit" value="Save" />
</form>
        </div>
    </div>
</div>