@using Tompet.Extensions
@using Microsoft.AspNetCore.Identity
@using Tompet.Infrastructure.Data.Identity
@using Tompet.Core.Services.Managers
@using Tompet.Infrastructure.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IManagerService Managers

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="/" class="nav-link active">
                <i class="fas fa-truck-moving"></i>
                <p>
                    Home
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/" class="nav-link active">
                <i class="fas fa-truck-moving"></i>
                <p>
                    Връзка със специалист
                </p>
            </a>
        </li>
        @if (User.IsInRole(DataConstants.UserConstant.Roles.AdministratorRoleName) || User.IsInRole(DataConstants.UserConstant.Roles.ManagerRoleName))
        {
            var userId = User.Id();
            var userIsManager = Managers.isManager(userId);
            var userIsAdmin = User.IsAdmin();

            @if (userIsManager)
            {
               @* <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Techniques" asp-action="Mine">My Techniques</a>
                </li>*@
                <li class="nav-item">
                    <a href="/Managers/Become" class="nav-link active">
                        <i class="fas fa-phone"></i>
                        <p>
                            Стани Менaджър
                        </p>
                    </a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a href="/Managers/Become" class="nav-link active">
                        <i class="fas fa-phone"></i>
                        <p>
                            Стани Менaджър
                        </p>
                    </a>
                </li>
            }
        }
    <li class="nav-item">
            <a href="/Techniques/Mine" class="nav-link active">
                <i class="fas fa-truck-moving"></i>
                <p>
                    Моите техники
                </p>
            </a>
        </li>
    </ul>